
@charset "UTF-8";

/**
 * example.scss
 * An example scss file with horrid formatting.
 * Use the SassBeautify plugin to fix the formatting of this file.
 */

$blue:#3bbfce;$margin:
16px;
.content-navigation {
// à é ç è ù
border-color:$blue;
color:
        darken($blue, 9%);
}
.border {
     padding: $margin / 2;margin:$margin / 2; // Here is an inline comment describing the border-color property
border-color:



$blue;
}